body {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
    color: rgba(6, 6, 61, 0.626);
}
h2 {
    color: gray;
}
a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}
a:hover{
    color: hotpink;
}
